<div class="container">
  <h1>Lista - {{ lista }}</h1>
  <hr />
  <!-- *ngFor="let listas of ['lista-ordenada', 'lista-desordenada']" -->
  <!-- [routerLink]="['/', listas]" -->

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link"
        id="nav-home-tab"
        *ngFor="let listas of ['lista-ordenada', 'lista-desordenada']"
        [routerLink]="['/', listas]"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Home</a
      >
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
